Cliente/CrazyEights/Connected Services/ReferenciaServicioManejoJugadores/ServicioManejoJugadores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioManejoJugadores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioManejoJugadores_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IManejadorJugadoresEnLinea_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioSala_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioActualizacionSala_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrazyEightsServicio" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioManejoJugadores_GuardarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_GuardarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarInicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarInicioSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarInicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarInicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarNombreUsuarioRegistrado_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombreUsuarioRegistrado" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarNombreUsuarioRegistrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombreUsuarioRegistradoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarCorreoElectronicoRegistrado_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoElectronicoRegistrado" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarCorreoElectronicoRegistrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoElectronicoRegistradoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_EnviarCodigoAlCorreoDelUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoAlCorreoDelUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_EnviarCodigoAlCorreoDelUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoAlCorreoDelUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_NotificarNuevaConexionAJugadoresEnLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:NotificarNuevaConexionAJugadoresEnLinea" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_NotificarDesconexionAJugadoresEnLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:NotificarDesconexionAJugadoresEnLinea" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_RecuperarInformacionJugadoresEnLinea_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarInformacionJugadoresEnLinea" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_RecuperarInformacionJugadoresEnLinea_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarInformacionJugadoresEnLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_InvitarJugadorASala_InputMessage">
    <wsdl:part name="parameters" element="tns:InvitarJugadorASala" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_InvitarJugadorASala_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvitarJugadorASalaResponse" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_RecuperarInvitacionesDeJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarInvitacionesDeJugador" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_RecuperarInvitacionesDeJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarInvitacionesDeJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_NotificarLogInJugador_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarLogInJugador" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_NotificarLogInJugador_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarLogInJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_NotificarLogOutJugador_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarLogOutJugador" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_NotificarLogOutJugador_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarLogOutJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_NotificarJugadoresEnLinea_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarJugadoresEnLinea" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_NotificarJugadoresEnLinea_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotificarJugadoresEnLineaResponse" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_RecibirInvitacionASala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirInvitacionASala" />
  </wsdl:message>
  <wsdl:message name="IManejadorJugadoresEnLinea_RecibirInvitacionASala_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:RecibirInvitacionASalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_ActualizarConfiguracionSala_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarConfiguracionSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_ActualizarConfiguracionSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarConfiguracionSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_AgregarSalaAListaDeSalas_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSalaAListaDeSalas" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_AgregarSalaAListaDeSalas_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarSalaAListaDeSalasResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_VerificarCodigoSalaNoRepetido_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCodigoSalaNoRepetido" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_VerificarCodigoSalaNoRepetido_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarCodigoSalaNoRepetidoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_RecuperarSala_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarSala" />
  </wsdl:message>
  <wsdl:message name="IServicioSala_RecuperarSala_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarSalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioActualizacionSala_AgregarJugadorASala_InputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugadorASala" />
  </wsdl:message>
  <wsdl:message name="IServicioActualizacionSala_AgregarJugadorASala_OutputMessage">
    <wsdl:part name="parameters" element="tns:AgregarJugadorASalaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioActualizacionSala_MostrarNuevoJugadorEnSala_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarNuevoJugadorEnSala" />
  </wsdl:message>
  <wsdl:message name="IServicioActualizacionSala_MostrarNuevoJugadorEnSala_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:MostrarNuevoJugadorEnSalaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioManejoJugadores">
    <wsdl:operation name="GuardarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/GuardarJugador" message="tns:IServicioManejoJugadores_GuardarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/GuardarJugadorResponse" message="tns:IServicioManejoJugadores_GuardarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarInicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarInicioSesion" message="tns:IServicioManejoJugadores_ValidarInicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarInicioSesionResponse" message="tns:IServicioManejoJugadores_ValidarInicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarNombreUsuarioRegistrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarNombreUsuarioRegistrado" message="tns:IServicioManejoJugadores_ValidarNombreUsuarioRegistrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarNombreUsuarioRegistradoResponse" message="tns:IServicioManejoJugadores_ValidarNombreUsuarioRegistrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreoElectronicoRegistrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarCorreoElectronicoRegistrado" message="tns:IServicioManejoJugadores_ValidarCorreoElectronicoRegistrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarCorreoElectronicoRegistradoResponse" message="tns:IServicioManejoJugadores_ValidarCorreoElectronicoRegistrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoAlCorreoDelUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/EnviarCodigoAlCorreoDelUsuario" message="tns:IServicioManejoJugadores_EnviarCodigoAlCorreoDelUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/EnviarCodigoAlCorreoDelUsuarioResponse" message="tns:IServicioManejoJugadores_EnviarCodigoAlCorreoDelUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IManejadorJugadoresEnLinea">
    <wsdl:operation name="NotificarNuevaConexionAJugadoresEnLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarNuevaConexionAJugadoresEnLinea" message="tns:IManejadorJugadoresEnLinea_NotificarNuevaConexionAJugadoresEnLinea_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarDesconexionAJugadoresEnLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarDesconexionAJugadoresEnLinea" message="tns:IManejadorJugadoresEnLinea_NotificarDesconexionAJugadoresEnLinea_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarInformacionJugadoresEnLinea">
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/RecuperarInformacionJugadoresEnLinea" message="tns:IManejadorJugadoresEnLinea_RecuperarInformacionJugadoresEnLinea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/RecuperarInformacionJugadoresEnLineaResponse" message="tns:IManejadorJugadoresEnLinea_RecuperarInformacionJugadoresEnLinea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvitarJugadorASala">
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/InvitarJugadorASala" message="tns:IManejadorJugadoresEnLinea_InvitarJugadorASala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/InvitarJugadorASalaResponse" message="tns:IManejadorJugadoresEnLinea_InvitarJugadorASala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarInvitacionesDeJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/RecuperarInvitacionesDeJugador" message="tns:IManejadorJugadoresEnLinea_RecuperarInvitacionesDeJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/RecuperarInvitacionesDeJugadorResponse" message="tns:IManejadorJugadoresEnLinea_RecuperarInvitacionesDeJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarLogInJugador">
      <wsdl:output wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarLogInJugador" message="tns:IManejadorJugadoresEnLinea_NotificarLogInJugador_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarLogInJugadorResponse" message="tns:IManejadorJugadoresEnLinea_NotificarLogInJugador_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarLogOutJugador">
      <wsdl:output wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarLogOutJugador" message="tns:IManejadorJugadoresEnLinea_NotificarLogOutJugador_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarLogOutJugadorResponse" message="tns:IManejadorJugadoresEnLinea_NotificarLogOutJugador_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadoresEnLinea">
      <wsdl:output wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarJugadoresEnLinea" message="tns:IManejadorJugadoresEnLinea_NotificarJugadoresEnLinea_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarJugadoresEnLineaResponse" message="tns:IManejadorJugadoresEnLinea_NotificarJugadoresEnLinea_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecibirInvitacionASala">
      <wsdl:output wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/RecibirInvitacionASala" message="tns:IManejadorJugadoresEnLinea_RecibirInvitacionASala_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IManejadorJugadoresEnLinea/RecibirInvitacionASalaResponse" message="tns:IManejadorJugadoresEnLinea_RecibirInvitacionASala_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServicioSala">
    <wsdl:operation name="ActualizarConfiguracionSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/ActualizarConfiguracionSala" message="tns:IServicioSala_ActualizarConfiguracionSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/ActualizarConfiguracionSalaResponse" message="tns:IServicioSala_ActualizarConfiguracionSala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSalaAListaDeSalas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/AgregarSalaAListaDeSalas" message="tns:IServicioSala_AgregarSalaAListaDeSalas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/AgregarSalaAListaDeSalasResponse" message="tns:IServicioSala_AgregarSalaAListaDeSalas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificarCodigoSalaNoRepetido">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/VerificarCodigoSalaNoRepetido" message="tns:IServicioSala_VerificarCodigoSalaNoRepetido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/VerificarCodigoSalaNoRepetidoResponse" message="tns:IServicioSala_VerificarCodigoSalaNoRepetido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarSala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioSala/RecuperarSala" message="tns:IServicioSala_RecuperarSala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioSala/RecuperarSalaResponse" message="tns:IServicioSala_RecuperarSala_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServicioActualizacionSala">
    <wsdl:operation name="AgregarJugadorASala">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioActualizacionSala/AgregarJugadorASala" message="tns:IServicioActualizacionSala_AgregarJugadorASala_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioActualizacionSala/AgregarJugadorASalaResponse" message="tns:IServicioActualizacionSala_AgregarJugadorASala_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MostrarNuevoJugadorEnSala">
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioActualizacionSala/MostrarNuevoJugadorEnSala" message="tns:IServicioActualizacionSala_MostrarNuevoJugadorEnSala_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioActualizacionSala/MostrarNuevoJugadorEnSalaResponse" message="tns:IServicioActualizacionSala_MostrarNuevoJugadorEnSala_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioManejoJugadores" type="tns:IServicioManejoJugadores">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioManejoJugadores_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GuardarJugador">
      <soap12:operation soapAction="http://tempuri.org/IServicioManejoJugadores/GuardarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarInicioSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioManejoJugadores/ValidarInicioSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarNombreUsuarioRegistrado">
      <soap12:operation soapAction="http://tempuri.org/IServicioManejoJugadores/ValidarNombreUsuarioRegistrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreoElectronicoRegistrado">
      <soap12:operation soapAction="http://tempuri.org/IServicioManejoJugadores/ValidarCorreoElectronicoRegistrado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoAlCorreoDelUsuario">
      <soap12:operation soapAction="http://tempuri.org/IServicioManejoJugadores/EnviarCodigoAlCorreoDelUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IManejadorJugadoresEnLinea" type="tns:IManejadorJugadoresEnLinea">
    <wsp:PolicyReference URI="#NetTcpBinding_IManejadorJugadoresEnLinea_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="NotificarNuevaConexionAJugadoresEnLinea">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarNuevaConexionAJugadoresEnLinea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotificarDesconexionAJugadoresEnLinea">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarDesconexionAJugadoresEnLinea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RecuperarInformacionJugadoresEnLinea">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/RecuperarInformacionJugadoresEnLinea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvitarJugadorASala">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/InvitarJugadorASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarInvitacionesDeJugador">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/RecuperarInvitacionesDeJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarLogInJugador">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarLogInJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarLogOutJugador">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarLogOutJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotificarJugadoresEnLinea">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/NotificarJugadoresEnLinea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecibirInvitacionASala">
      <soap12:operation soapAction="http://tempuri.org/IManejadorJugadoresEnLinea/RecibirInvitacionASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioSala" type="tns:IServicioSala">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioSala_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ActualizarConfiguracionSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/ActualizarConfiguracionSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSalaAListaDeSalas">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/AgregarSalaAListaDeSalas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarCodigoSalaNoRepetido">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/VerificarCodigoSalaNoRepetido" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioSala/RecuperarSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServicioActualizacionSala" type="tns:IServicioActualizacionSala">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioActualizacionSala_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AgregarJugadorASala">
      <soap12:operation soapAction="http://tempuri.org/IServicioActualizacionSala/AgregarJugadorASala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MostrarNuevoJugadorEnSala">
      <soap12:operation soapAction="http://tempuri.org/IServicioActualizacionSala/MostrarNuevoJugadorEnSala" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioManejoJugadores">
    <wsdl:port name="NetTcpBinding_IServicioManejoJugadores" binding="tns:NetTcpBinding_IServicioManejoJugadores">
      <soap12:address location="net.tcp://localhost:8081/CrazyEightsServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/CrazyEightsServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TAKEMIKAZUCHI\jesus</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IManejadorJugadoresEnLinea" binding="tns:NetTcpBinding_IManejadorJugadoresEnLinea">
      <soap12:address location="net.tcp://localhost:8081/CrazyEightsServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/CrazyEightsServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TAKEMIKAZUCHI\jesus</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioSala" binding="tns:NetTcpBinding_IServicioSala">
      <soap12:address location="net.tcp://localhost:8081/CrazyEightsServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/CrazyEightsServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TAKEMIKAZUCHI\jesus</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServicioActualizacionSala" binding="tns:NetTcpBinding_IServicioActualizacionSala">
      <soap12:address location="net.tcp://localhost:8081/CrazyEightsServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/CrazyEightsServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>TAKEMIKAZUCHI\jesus</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>