Cliente/CrazyEights/Connected Services/ReferenciaServicioManejoJugadores/ServicioManejoJugadores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioManejoJugadores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServicioManejoJugadores_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8082/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CrazyEightsServicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioManejoJugadores_GuardarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_GuardarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_validarInicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:validarInicioSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_validarInicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:validarInicioSesionResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioManejoJugadores">
    <wsdl:operation name="GuardarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/GuardarJugador" message="tns:IServicioManejoJugadores_GuardarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/GuardarJugadorResponse" message="tns:IServicioManejoJugadores_GuardarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validarInicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/validarInicioSesion" message="tns:IServicioManejoJugadores_validarInicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/validarInicioSesionResponse" message="tns:IServicioManejoJugadores_validarInicioSesion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServicioManejoJugadores" type="tns:IServicioManejoJugadores">
    <wsp:PolicyReference URI="#NetTcpBinding_IServicioManejoJugadores_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GuardarJugador">
      <soap12:operation soapAction="http://tempuri.org/IServicioManejoJugadores/GuardarJugador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarInicioSesion">
      <soap12:operation soapAction="http://tempuri.org/IServicioManejoJugadores/validarInicioSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioManejoJugadores">
    <wsdl:port name="NetTcpBinding_IServicioManejoJugadores" binding="tns:NetTcpBinding_IServicioManejoJugadores">
      <soap12:address location="net.tcp://localhost:8081/CrazyEightsServicio" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8081/CrazyEightsServicio</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-1HTJ9FC\Jesús Manuel</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>