CrazyEightsServidor/Host/Connected Services/ReferenciaServicioManejoJugadores/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ServicioManejoJugadores" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CrazyEightsServicio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioManejoJugadores_GuardarJugador_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarJugador" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_GuardarJugador_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarJugadorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarInicioSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarInicioSesion" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarInicioSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarInicioSesionResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarNombreUsuarioRegistrado_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombreUsuarioRegistrado" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarNombreUsuarioRegistrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarNombreUsuarioRegistradoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarCorreoElectronicoRegistrado_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoElectronicoRegistrado" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_ValidarCorreoElectronicoRegistrado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCorreoElectronicoRegistradoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_EnviarCodigoAlCorreoDelUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoAlCorreoDelUsuario" />
  </wsdl:message>
  <wsdl:message name="IServicioManejoJugadores_EnviarCodigoAlCorreoDelUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarCodigoAlCorreoDelUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioManejoJugadores">
    <wsdl:operation name="GuardarJugador">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/GuardarJugador" message="tns:IServicioManejoJugadores_GuardarJugador_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/GuardarJugadorResponse" message="tns:IServicioManejoJugadores_GuardarJugador_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarInicioSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarInicioSesion" message="tns:IServicioManejoJugadores_ValidarInicioSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarInicioSesionResponse" message="tns:IServicioManejoJugadores_ValidarInicioSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarNombreUsuarioRegistrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarNombreUsuarioRegistrado" message="tns:IServicioManejoJugadores_ValidarNombreUsuarioRegistrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarNombreUsuarioRegistradoResponse" message="tns:IServicioManejoJugadores_ValidarNombreUsuarioRegistrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreoElectronicoRegistrado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarCorreoElectronicoRegistrado" message="tns:IServicioManejoJugadores_ValidarCorreoElectronicoRegistrado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/ValidarCorreoElectronicoRegistradoResponse" message="tns:IServicioManejoJugadores_ValidarCorreoElectronicoRegistrado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoAlCorreoDelUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioManejoJugadores/EnviarCodigoAlCorreoDelUsuario" message="tns:IServicioManejoJugadores_EnviarCodigoAlCorreoDelUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioManejoJugadores/EnviarCodigoAlCorreoDelUsuarioResponse" message="tns:IServicioManejoJugadores_EnviarCodigoAlCorreoDelUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioManejoJugadores" type="tns:IServicioManejoJugadores">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarJugador">
      <soap:operation soapAction="http://tempuri.org/IServicioManejoJugadores/GuardarJugador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarInicioSesion">
      <soap:operation soapAction="http://tempuri.org/IServicioManejoJugadores/ValidarInicioSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarNombreUsuarioRegistrado">
      <soap:operation soapAction="http://tempuri.org/IServicioManejoJugadores/ValidarNombreUsuarioRegistrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCorreoElectronicoRegistrado">
      <soap:operation soapAction="http://tempuri.org/IServicioManejoJugadores/ValidarCorreoElectronicoRegistrado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarCodigoAlCorreoDelUsuario">
      <soap:operation soapAction="http://tempuri.org/IServicioManejoJugadores/EnviarCodigoAlCorreoDelUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioManejoJugadores">
    <wsdl:port name="BasicHttpBinding_IServicioManejoJugadores" binding="tns:BasicHttpBinding_IServicioManejoJugadores">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CrazyEightsServicio/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>